dash==1.0.0
plotly==4.7.1
tensorflow 2.2.0
gunicorn==19.9.0
numpy==1.18.4
pandas==1.0.3
Flask==1.1.2
Keras==2.3.1
opencv-python==4.2.0.34
chart-studio==1.1.0
dash-renderer==1.0.0
dash-html-components==1.0.0  
dash-core-components==1.0.0
